<div class="center jumbotron">
    <h1>The Grocery App</h1>
    <%= link_to "Sign up now", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>
    <%= link_to "Save money now", "#", class: "btn btn-danger btn-lg btn-xlarge" %>
</div>