<h1 align="center"><%= "Category: " + @category.name %></h1>
<div align="center">
    <%= will_paginate @category_products %>
</div>
<%= render 'products/product', obj: @category_products %>
<div align="center">
    <%= will_paginate @category_products %>
</div>